@charset "utf-8";
#vs {
    width:100%;
    height:100%;
    position:relative;
}
#vs ul {
    width:100%;
    height:30%;
    position:relative;
}
#vs li {
    width:100%;
    float:left;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:25;
}
#vs li .img {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    animation:vsImg 12s ease-in-out;
    -webkit-animation:vsImg 12s ease-in-out;
    -moz-animation:vsImg 12s ease-in-out;
    height:100%;
/*
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
*/
}

#vs .img img {
    position:absolute;
    /* top:-9999px; */
    /* bottom:-9999px; */
    /* right:-9999px; */
    /* left:-9999px; */
    margin:auto;
    min-width:100%;
    min-height:100%;
}
@keyframes vsImg {
	0% { transform:scale(1.1); }
	100% { transform:scale(1); }
}
@-webkit-keyframes vsImg {
	0% { -webkit-transform:scale(1.1); }
	100% { -webkit-transform:scale(1); }
}
@-moz-keyframes vsImg {
	0% { -moz-transform:scale(1.1); }
	100% { -moz-transform:scale(1); }
}
.mainLogo {
    position:absolute;
    width:500px;
    height:400px;
    top:200px;
    left:calc(calc(100% - 500px) / 2);
    z-index:30;
}