@charset "utf-8";
* { margin:0; padding:0; }
ul { list-style:none; }
a { text-decoration:none; }
body,html { 
    width:100%;
    height:100%;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x:hidden;
}
a, img, span { display:block; }
.wrapContainer {
    width:100%;
    height:100%;
    overflow-x:hidden;
}
.wrap {
    width:100%;
    height:100%;
    overflow-x:hidden;
}
#hd {
    width:100%;
    height:50px;
    position:relative;
    background:#fff;
}
#hd .logo {
    width:88px;
    height:50px;
    margin:0 auto; background:url("./images/ico_logo.png");
    background-size:100%;
}
#hd .menu {
    position:absolute;
    width:44px;
    height:44px;
    padding:3px;
    top:0;
    right:0;
    background:url("./images/ico_menu.png");
    background-size:44px 44px;
    background-position:center;
}
#vs {
    width:100%;
    position:relative;
    height: 30%;
}
#vs ul {
    float:left;
    width:500%;
}
#vs li {
    float:left;
    width:20%;
}
#vs li img {
    width:100%;
    height:auto;
}
#vs .vsPage {
    width:100px;
    height:20px;
    position:absolute;
    top: 92%;
    left: calc(calc(100% - 100px) / 2);
}
#vs .vsPage label {
    float:left;
    margin:5px;
    display:inline-block;
    position:absolute;
}
#vs .vsPage .vsBtn {
    width:10px;
    height:10px;
    border-radius:6px;
    background-color:#939ead;
}
#vs .vsPage .vsBtn[data-val="0"] { left:0px; }
#vs .vsPage .vsBtn[data-val="1"] { left:20px; }
#vs .vsPage .vsBtn[data-val="2"] { left:40px; }
#vs .vsPage .vsBtn[data-val="3"] { left:60px; }
#vs .vsPage .vsBtn[data-val="4"] { left:80px; }
#vs .vsPage .vsBtn.on {
    background-color:#0068ac;
}
#con {
    width:100%;
    height:auto;
}
#con .txtBox {
    width:100%;
    height:auto;
    float:left;
    background:#0068ac;
    margin-bottom:20px;
}
#con .txtBox li {
    float:left;
    width:30%;
    height:40px; 
    margin-left:2.5%;
    position:relative;
}
#con .txtBox a {
    color:#fff;
    font-size:0.8em;
    line-height:40px;
    text-align:center;
}
#con .txtBox li a:after {
    position:absolute;
    background-color:#fff;
    content:" ";
    display:block;
    width:1px;
    height:16px;
    top:13px;
    left:-3px;
    /*
    position:absolute;
    color:#fff;
    content: "｜";
    margin-left:4%;
    */
}
#con .txtBox li:first-child a:after {
    display:none;
}
#con .bTit {
    clear:both;
    font-size:1em;
    font-weight:600;
    margin:0 10px;
    line-height: 16px;
    position:relative;
}
#con .bTit::before {
    content:"";
    width: 3px;
    height: 18px;
    display:inline-block;
    background:#0068ac;
    position: absolute;
}
#con .bTit::after {
    content:"";
    width: 100%;
    height: 2px;
    display:inline-block;
    background:#ccc;
}
/*
#con .btnBox {
    clear:both;
    height:2px; /*180px;*//*
    margin:10px;
    border:1px solid #ccc;
    box-sizing:border-box;
}
*/
#con .btnBox {
    width:100%;
    height:180px;
    margin-bottom:20px;
    padding:0 10px;
    box-sizing:border-box;
}
#con .btnBox li {
    width:50%;
    height:60px;
    float:left;
    border-bottom:1px solid #ccc;
    box-sizing:border-box;
}
/*
#con .btnBox:nth-child(n+1) {
    margin-left: 4%;
}
#con .btnBox .btn5, #con .btnBox .btn6 {
    border-bottom:none;
}
*/
#con .btnBox li a {
    color:#555;
    font-size:0.8em;
    padding:13px 0;
    padding-left:56px;
    background:url("./images/btn_menu.png");
    background-size:148.5px auto;
    background-repeat:no-repeat;
}
#con .btnBox .btn5 a, #con .btnBox .btn6 a {
    line-height:33px;
}
#con .btnBox .btn1 a {
    background-position:0 0;
}
#con .btnBox .btn2 a {
    background-position:0 -192px;
}
#con .btnBox .btn3 a {
    background-position:2px -63px;
}
#con .btnBox .btn4 a {
    background-position:-2px -323px;
}
#con .btnBox .btn5 a {
    background-position:-4px -260px;
}
#con .btnBox .btn6 a {
    background-position:2px -130px;
}
#con .cardFrame {
    clear:both;
    height:auto;
    margin:10px;
}
#con .cardFrame li {
    overflow:scroll;
}
#con .cardFrame .cardBox {
    width:500%;
    height:163.66px;
}
#con .cardFrame .cardBox li {
    width:10%;
    margin:10px 0;
    float:left;
}
#con .cardFrame .cardBox li img {
    width:80%;
    margin:0 auto;
    margin-bottom:10px;
}
#con .cardFrame .cardBox .cTit {
    text-align:center;
    font-size:0.8em;
    font-weight:600;
    line-height:18px;
    color:#555;
}
#con .cardFrame .cardBox .cCom {
    text-align:center;
    font-size:0.65em;
    font-weight:100;
    color:#555;
}
#con .cardFrame .cBtnBox {
    height:60px;
    clear:both;
}
#con .cardFrame .cBtnBox li {
    width:50%;
    height:60px;
    float:left;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    box-sizing:border-box;
    line-height:33px;
}
#con .cardFrame .cBtnBox li a {
    color:#555;
    font-size:0.8em;
    padding:13px 0;
    padding-left:60px;
    background:url("./images/cbtn_menu.png");
    background-size:148.5px auto;
    background-repeat:no-repeat;
}
#con .cardFrame .cBtnBox .btn7 a {
    background-position:0 10px;
}
#con .cardFrame 
.cBtnBox .btn8 a {
    background-position:0 -31px;
}
#con .notice {
    width:95%;
    margin:0 10px;
    background:#0068ac;
    height:30px;
    margin-bottom:20px;
}
#con .notice li {
}
#con .notice a::before {
    font-family:'ico';
    font-style:normal;
    font-weight:normal;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    color:#fff;
    margin:0 6px;
    text-align:center;
    font-variant:normal;
    font-size:1em;
    text-transform:none;
    line-height:30px;
    content:'\e802'
}
#con .notice a {
    background-size:20px 20px;
    font-size:0.8em;
    color:#fff;
    font-weight:500;
    line-height:30px;
    background:url("./images/right_w.png") 100% no-repeat;
    background-size:6px;
    background-position:98%;
}
#con .app {
    width:100%;
}
#con .app li {
    overflow:scroll;
}
#con .app .appBox {
    width:490px;
    height:88px;
    float:left;
    padding:10px 4px;
}
#con .app .appBox li {
    width:54px;
    height:auto;
    padding:8px;
    float:left;
}
#con .app .appBox li img {
    width:54px;
}
#con .app .appBox li p {
    font-size:0.7em;
    color:#555;
    text-align:center;
    line-height:2.6em;
}
#ft {
    width:100%;
    height:120px;
    clear:both;
    background:#647489;
}
#ft .fBtn {
    width:100%;
    height:40px;
    float:left;
    margin:0 auto;
    border-bottom:1px solid #939ead;
    margin-bottom:10px;
}
#ft .fBtn li {
    position:relative;
    float:left;
}
#ft .fBtn li a {
    color:#fff;
    text-align:center;
    font-size:0.75em;
    line-height:40px;
}
#ft .fBtn li a::after {
    position:absolute;
    background-color:#939ead;
    content:" ";
    display:block;
    width:1px;
    height:16px;
    top:13px;
}
#ft .fBtn li:first-child a::after {
    content:none;
}
#ft p {
    color:#fff;
    font-size:0.8em;
    text-align:center;
    font-weight:100;
}
#ft .copy {
    color:#939ead;
    font-size:0.7em;
    text-align:center;
    font-weight:100;
}
/*menu*/
#menu {
    position:absolute;
    right:-100%;
    top:0;
    z-index:100;
    width:100%;
    height:100%;
    background:#fff;
    transition:0.7s;
}
#menu.on {
    right:0;
    transition:0.7s;
}
#menu .mHD {
    width:100%;
    height:50px;
    position:relative;
    background:#fff;
    border-bottom:1px solid #ccc;
    box-sizing:border-box;
}
#menu .mHD .home {
    position:absolute;
    width:44px;
    height:44px;
    padding:3px;
    top:0;
    left:0;
    background:url("./images/ico_home.png");
    background-size:44px 44px;
    background-position:center;
}
#menu .mHD .close {
    position:absolute;
    width:20px;
    height:20px;
    padding:15px;
    top:0;
    right:0;
    background:url("./images/ico_close_b.png") no-repeat;
    background-size:20px 20px;
    background-position:center;
}
#menu .mWel {
    width:100%;
    height:40px;
    text-align:center;
    margin:0 auto;
    border-bottom:1px solid #ccc;
    box-sizing:border-box; 
}
#menu .mWel .mWelWrap {
    width:180px;
    height:40px;
    margin:0 auto;
}
#menu .mWel span {
    font-size:1em;
    color:#939ead;
    float:left;
    line-height:40px;
}
#menu .mWel button {
    width:38px;
    height:16px;
    border-radius:4px;
    outline:0;
    background-color:#0068ac;
    color:#fff;
    font-size:0.4em;
    vertical-align:text-bottom;
    float:left;
    line-height:12px;
    padding:3px;
    border:0;
    margin-top:13px;
    margin-left:8px;
}
#menu .lMenu {
    clear:both;
    height:100%;
    float:left;
    background-color:#0068ac;
}
#menu .lMenu li {
    width:100%;
    float:left;
}
#menu .lMenu li.on {
    background:#fff;
}
#menu .lMenu li.on a {
    color:#0068ac;
    font-size:0.95em;
    text-align:center;
    font-weight:600;
}
#menu .lMenu li.on::after {
    content:none;
}
#menu .lMenu a { 
    font-size:0.85em;
    color:#fff;
    line-height:40px;
    text-align:center;
}
#menu .lMenu li::after {
    content: "";
    width: 68px;
    height: 1px;
    background: #fff;
    position: absolute;
    text-align: center;
    left: calc(calc(35% - 68px) / 2);
}
#menu .rMenu {
    height:100%;
    float:left;
    background-color:#fff;
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
    width: 65%;
}
::-webkit-scrollbar {
    display:none;
}
#menu .rMenu .lmTit {
    padding-left:15px;
    font-size:1em;
    line-height:40px;
}
#menu .rMenu .lmTit::after {
    content:"";
    background:url("./images/bottom_b.png");
    width:28px;
    height:16px;
        
}
#menu .rMenu .lmTit::after {
    content:"";
    width: 10px;
    /* height: 8px; */
    background-size: 6px auto;
    background:url("images/bottom_b.png");
    display:  block;
    float: right;
    line-height: 1px;
    background-position:  center;
    margin: 8px auto;
    margin-right:  20px;
}
#menu .rMenu .lmr .lmDepth {
    display:none;
}
#menu .rMenu .lmr .lmDepth a {
    padding-left:25px;
    font-size:0.85em;
    line-height:30px;
    color:#ccc;
}